[Unit]
Description=poll for AWS Spot termination signal and force EC2 instance shutdown
After=network.target collect-instance-metadata.service
Requires=collect-instance-metadata.service
# We use `/var/run/spot-instance` and `/var/run/spot_or_ondemand.vars` to signal this is a spot instance
ConditionPathExists=/var/run/spot-instance

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=/opt/aws/bin/spot-termination-handler.py

[Install]
WantedBy=multi-user.target
